.button-container {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#crudTable {
    height:fit-content;
}

.crudTable-container {
    overflow-x:auto;
}